@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

.smalllogo {
  justify-content: flex-start;
  margin-bottom: 195px;
  margin-top: 130px;
}

.events {
  margin-left: 100px;
  color: #FFB70D;
  text-shadow: 50px;
  font-family: 'Crete Round', serif;
}

.nav {
  margin-top: 20px;
  justify-content: flex-end;
  font-family: 'Crete Round', serif;
}


.pt {
  margin-top: 70px;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  color: #0000
}
.underpt {
  margin-bottom: 90px;
  font-size: 30px;
  font-family: 'Crete Round', serif;
  color: #FFB70D
}

.container {
  padding-left:30px;
  padding-right: 30px;
}

.apps {
  color: #524B41;
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
  margin-left: 20px;
}
.burgerbar {
  color: #black;
  font-family: 'News Cycle', sans-serif;
}
.tryour {
  color: #524B41;
  font-family: 'News Cycle', sans-serif;
}
.entrees {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
  }

.prawns {
  padding-right: 50px;
}
.burger {
  color: #524B41;
  font-family: 'News Cycle', sans-serif;

}
  .desserts {
      font-family: 'News Cycle', sans-serif;
      font-size: 30px;
      margin-left: 20px;
      margin-top: 30px;
    }
.dessert1 {
  color: #524B41;
  font-family: 'News Cycle', sans-serif;
}

a {
  color: #524B41;
}

a:hover {
  background-color: transparent;
  color: grey;
}


.footer {
margin-top: 200px;
}

.copyright {
  color: #C7B89F;


}
